# API Keys
ROBOFLOW_API_KEY=tu_api_key_aqui
ROBOFLOW_WORKSPACE=tu_workspace_aqui
ROBOFLOW_MODEL=tu_modelo_aqui
ROBOFLOW_VERSION=tu_version_aqui

RAPIDAPI_KEY=tu_api_key_aqui
RAPIDAPI_HOST=weatherapi-com.p.rapidapi.com

# Server config
HOST=0.0.0.0
PORT=8000
